#booking{
    .cover{

    }

    .main-content{
        .heading{
            margin-bottom: 50px;

            .line{
                width: 100px;
                height: 3px;

                background-color: $primary;

                margin-bottom: 15px;
            }

            h1{
                margin-bottom: 15px;

                &.title-lg{
                    color: $primary;
                }
            }
        }

        .row{
            &.extra{
                padding-bottom: 15px;
                border-bottom: 1px solid #ccc;

                .left{
                    .mask{
                        width: 100%;
                        height: 230px;
                    }
                }

                .right{
                    h3{
                        margin-bottom: 0;

                        &.title-sm{
                            color: $primary;
                        }
                    }

                    p{
                        margin-bottom: 30px;

                        i{
                            color: $primary;
                        }
                    }

                    .row{
                        .item{
                            .form-check{
                                input{
                                    -webkit-transform: translateY(-2px);
                                    -moz-transform: translateY(-2px);
                                    -ms-transform: translateY(-2px);
                                    -o-transform: translateY(-2px);
                                    transform: translateY(-2px);
                                }

                                label{
                                    color: $gray-light;
                                }
                            }

                            .input-group{
                                -webkit-transform: translateY(-7px);
                                -moz-transform: translateY(-7px);
                                -ms-transform: translateY(-7px);
                                -o-transform: translateY(-7px);
                                transform: translateY(-7px);

                                .form-control{
                                    border: none;
                                    border-radius: 0;

                                    border-bottom: 1px solid $gray-light;
                                }

                                .input-group-append{
                                    .btn{
                                        border: none;
                                        border-radius: 0;

                                        border-bottom: 1px solid $gray-light;

                                        color: $primary;

                                        &:hover{
                                            background-color: $primary;
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.info{
                padding-top: 30px;

                .left{
                    h3{
                        &.title-sm{
                            color: $primary;
                        }
                    }
                }

                .right{
                    .form-horizontal{
                        .row{
                            .form-group{
                                select{
                                    padding: .375rem .75rem;
                                }

                                .form-foot{
                                    display: flex;
                                    flex-direction: row;

                                    align-items: center;

                                    p{
                                        margin-left: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .modal{
        &#thankYou{
            text-align: center;

            .modal-dialog{
                .modal-content{
                    background-color: rgba(255,255,255,0.85);

                    padding-top: 50px;
                    padding-bottom: 50px;

                    h4{
                        &.title-xs{
                            &.success{
                                color: #3E8C2D;
                            }
                        }
                    }

                    h1{
                        &.title-lg{
                            font-size: 6.75rem;
                            color: $primary;
                        }
                    }

                    .btn{
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}