#contact{
    .cover{

    }

    .main-content{
        .container{
            .row{
                .left{

                }

                .right{
                    .heading{
                        margin-bottom: 50px;

                        .line{
                            width: 100px;
                            height: 3px;

                            background-color: $primary;

                            margin-bottom: 15px;
                        }

                        h1{
                            margin-bottom: 15px;

                            &.title-lg{
                                color: $primary;
                            }
                        }
                    }

                    .body{
                        .map{
                            margin-bottom: 30px;

                            iframe{
                                width: 100% !important;
                                height: 540px !important;
                            }
                        }

                        .form-contact{
                            .row{
                                .left{
                                    h4{
                                        margin-bottom: 0;
                                    }

                                    .line{
                                        width: 50px;
                                        height: 3px;

                                        background-color: $primary;
                                    }
                                }

                                .right{
                                    .company-info{
                                        table{
                                            -webkit-transform: translateY(-0.75rem);
                                            -moz-transform: translateY(-0.75rem);
                                            -ms-transform: translateY(-0.75rem);
                                            -o-transform: translateY(-0.75rem);
                                            transform: translateY(-0.75rem);

                                            tr{
                                                td{
                                                    &:first-of-type{
                                                        color: $primary;
                                                        text-align: center;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .form-horizontal{
                                        .row{
                                            .form-group{
                                                select{
                                                    padding: .375rem .75rem;
                                                }

                                                .form-foot{
                                                    display: flex;
                                                    flex-direction: row;

                                                    align-items: center;

                                                    p{
                                                        margin-left: 30px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}