footer{
    .container-fluid{
        padding-left: 0;
        padding-right: 0;

        &#advisor{
            background-color: #fffdf7;

            padding-left: 0;
            padding-right: 0;

            .row{
                margin-left: 0;
                margin-right: 0;

                .content{
                    padding: 50px 30px 50px 200px;

                    background-color: #fffdf7;

                    position: relative;

                    h3{
                        margin-bottom: 15px;

                        &.title-sm{
                            color: $primary;
                        }
                    }

                    p{
                        &.paragraph{
                            color: $gray;
                        }
                    }

                    .btn{
                        &.btn-primary{
                            text-transform: uppercase;
                        }
                    }

                    .background{
                        width: 100%;
                        height: 100%;

                        position: absolute;
                        top: 0;
                        left: 100%;

                        .mask{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        &#footer{
            @include gradient-45deg(#782859, rgba(120,40,89,1),#F99D1C, rgba(249,157,28,1));

            padding-top: 30px;
            padding-bottom: 30px;

            position: relative;

            .wrapper{
                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                background-image: url("../img/myanmar-icon.png");
                background-position: center center;
                background-repeat: no-repeat;
            }

            .container{
                &#addresses{
                    padding-bottom: 30px;
                    border-bottom: 1px solid #fff;

                    .row{
                        .item{
                            h4{
                                &.title-xs{
                                    color: $primary;
                                }
                            }

                            ul{
                                list-style: none;
                                padding-left: 0;

                                li{
                                    color: #fff;

                                    i{
                                        color: $primary;
                                    }

                                    a{
                                        color: #fff;

                                        i{
                                            color: $primary;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &#featured{
                    padding-top: 30px;
                    padding-bottom: 30px;

                    border-bottom: 1px solid #fff;

                    .heading{
                        text-align: center;

                        h4{
                            &.title-xs{
                                color: #fff;
                            }
                        }
                    }

                    .body{
                        #featured-slider{
                            .item{
                                width: 100%;

                                img{
                                    width: auto;
                                    height: 50px;

                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }

                &#nav-bottom{
                    display: flex;
                    flex-direction: row;

                    justify-content: space-between;

                    padding-top: 15px;
                    padding-bottom: 15px;

                    ul{
                        &.item{
                            list-style: none;
                            padding-left: 0;

                            li{
                                display: inline-block;

                                color: #fff;

                                a{
                                    color: #fff;
                                }
                            }

                            &.left{
                                li{
                                    margin-right: 5px;
                                }
                            }

                            &.center{
                                li{
                                    padding-left: 7px;
                                    padding-right: 7px;
                                }
                            }

                            &.right{
                                li{
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }

                &#copyright{
                    padding-top: 15px;
                    padding-bottom: 15px;

                    text-align: center;

                    p{
                        &.paragraph{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}